
<%= form_with(model: survey) do |form| %>
  <% if survey.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div>
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div>
      <%= form.label :description, class: "form-label" %>
      <%= form.rich_text_area :description, class: "form-control" %>
    </div>

    <div>
      <%= form.submit class: "btn btn-primary " %>
    </div>
    
<% end %>
